<%- include("partials/header"); -%>


  <nav class="navbar">

    <div class="container group-by ">

      <a class="navbar-brand" href="#">ENXZA</a>

      <div class="front-link offcanvasNavbar">
        <a href="#">Home</a>
        <a href="#">Services</a>
        <a href="#">Contact us</a>
        <a href="#">FAQ</a>
        <a href="login">Login</a>
      </div>

      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
        aria-controls="offcanvasNavbar">
        <span class="navbar-toggler-icon">
          <i class="fas fa-bars"></i>

        </span>
      </button>

      <div class="offcanvas offcanvas-end " tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title text-white" id="offcanvasNavbarLabel">
            ENXZA
          </h5>
          <button type="button" class="btn-close text-white text-reset" data-bs-dismiss="offcanvas"
            aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1">
            <li class="nav-item ">
              <a class="nav-link active text-white" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link text-white" href="#">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active text-white" aria-current="page" href="#">FAQ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="#">Contact us</a>
            </li>
            <li class="nav-item text-white">
              <a class="nav-link active text-white" aria-current="page" href="#">Testimonials</a>
            </li>
            <li class="nav-item">
 <button class="btn-grad"><a class="side-button" style="text-align:center;" href="login">Login</a></button>
            </li>

        </div>

      </div>
    </div>
  </nav>

  <div class="hero container pt-4 text-white d-flex flex-column flex-lg-row flex-md-row flex-xs-column ">
    <div class="left mt-lg-5">
      <h1>Get ready to explore the Crypto world</h1>
      <p class="left-text">The best way to make profit is at Crypto, Easily find smart strategies to make profit, "A
        stress-free
        way to invest in crypto without the
        hassle and
        uncertaintyof selecting which crypto to invest in."</p>
      <button class="btn-grad animate3">Get Started</button>

    </div>
    <div class="right">
      <img src="./assets/Bitcoin _Monochromatic.svg" alt="">
    </div>
  </div>
  </div>


  <div class="container brand text-center mt-4">

    <div class="row brand-logos mx-auto">
      <h4 class="anima">Trusted by alot of companies</h4>

      <div class="col change">
        <img src="./assets/Star_Alliance_logo.svg" alt="" srcset="">
      </div>
      <div class="col change">
        <img src="./assets/duette.svg" alt="" srcset="">
      </div>
      <div class="col change">
        <img src="./assets/prudential-financial.svg" alt="" srcset="">
      </div>
      <div class="col change">
        <img src="./assets/NewYorkTimes_logo.svg" alt="" srcset="">
      </div>
      <div class="col change">
        <img src="./assets/Reuters_logo.svg" alt="" srcset="">
      </div>
    </div>
  </div>

  <div class="container-fluid map-section  mt-2">
    <div class="container d-flex flex-column flex-lg-row p-lg-5 p-3 flex-sm-row flex-xs-column">
      <div class="left-content">
        <h1>Join our community of users all over the world</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum iure quaerat pariatur illo doloremque
          aperiam quia, expedita nobis vel laboriosam quasi quisquam eum cumque quae dicta? Praesentium
          quisquam
          minus voluptas!</p>
      </div>
      <div class="right-content">
        <img src="./assets/world.svg" alt="" srcset="">
      </div>
    </div>
  </div>




  <div class="all-round my-0">
    <div class="container-fluid why">
      <div class="container why-us">
        <div class="row pt-5 ">
          <h4>The most trusted cryptocurrency investment platform</h4>
          <p>Here are some reasons you should choose us</p>
          <div class="col support">
            <div>
              <div class="img-why">
                <img src="./assets/Privacy.svg" alt="" srcset="">
              </div>
              <h5>Protected by insurance</h5>
              <p>All investment funds are insured by FDIC insurance</p>
            </div>
          </div>
          <div class="col-md-4">
            <div>
              <div class="img-why">
                <img src="./assets/Reviews.svg" alt="" srcset="">
              </div>
              <h5>Secure storage</h5>
              <p>Trusted by millions globally for its secure and smart investment strategy, we are confident to say
                your
                crypto invest is secure
              </p>
            </div>
          </div>
          <div class="col support">
            <div>
              <div class="img-why">
                <img src="./assets/Contact.svg" alt="" srcset="">
              </div>
              <h5>Customer Support 24/7</h5>
              <p>We are here for you anytime, Customer satsifaction is our prority</p>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="container mt-4">
      <div class="rating row row-cols-1 row-cols-md-3 rows-cols-lg g-4 mx-auto py-3">
        <div class="col animate">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Christiana A.</h5>
              <p class="card-text">The best platform for Crypto investment and I highly recommend</p>
            </div>
            <div class="card-rating">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
          </div>
        </div>
        <div class="col animate">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Jinisha G.</h5>
              <p class="card-text">Enxza is a lifesaver, i have tried different crypto investment platforms and this is
                the best so far</p>
            </div>
            <div class="card-rating">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
          </div>
        </div>
        <div class="col animate2">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Kamaruz Z.</h5>
              <p class="card-text">Great service and exceptional customer support, i have made so much profits in just a
                week since i joined</p>
            </div>
            <div class="card-rating">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
          </div>
        </div>
        <div class="col animate">
          <div class="card">

            <div class="card-body">
              <h5 class="card-title">Sean M.</h5>
              <p class="card-text">Fast and reliable service</p>
            </div>
            <div class="card-rating">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
          </div>
        </div>
        <div class="col animate row-md-6">
          <div class="card">

            <div class="card-body">
              <h5 class="card-title">Rodrigo G.</h5>
              <p class="card-text">My financial situation has improved greatly since i joined, thanks guys</p>
            </div>
            <div class="card-rating">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
          </div>
        </div>
        <div class="col animate row-md-3">
          <div class="card">

            <div class="card-body">
              <h5 class="card-title">Petra Vovk</h5>
              <p class="card-text">Very quality service and risk free strategies for investing</p>
            </div>
            <div class="card-rating">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="container-fluid mt-4 team-section p-4">
                    <div class="left-container w-50">
                        <div class="card">
                            <img src="./assets/pexels-vlada-karpovich-7433919.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Meet Our Team</h5>
                                <p class="card-text">We do the job while you make the profits</p>
            
                            </div>
                        </div>
                    </div>
                    <div class="right-container">
            
                    </div>
                </div> -->
  <!-- // last section -->


  <div class="container-fluid section d-flex flex-lg-row flex-sm-row flex-row p-3">

    <div class="container left-referral container">
      <div class="py-3 px-3">
        <h3>Earn up to 10% commison for every Referral
          <h1 />
      </div>
    </div>
    <div class="right-referral  container">
      <img src="./assets/324 (1).svg" alt="" style="width:100%" height="100%" srcset="">
    </div>

  </div>

  <section>
    <div class="container footer d-flex flex-row p-3">
      <div>
        <p>ENXZA</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic eos deleniti iure, exercitationem
        </p>
      </div>
      <div>
        <p>Company</p>
        <a href="">About Us</a>
        <a href="">How we work?</a>
      </div>

      <div>
        <p>Company</p>
        <a href="">About Us</a>
        <a href="">How we work?</a>
      </div>





      <%- include("partials/footer"); -%>
